@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

  

:root{
    --pcolorH: #F3FBFA;
    --pcolor: #DCF2F1;
    --pcolorL: #B0DAD8;

    --dark: #222831;
    --darkH: #3A414A;
    --darkL: #15191E ;
    
    --light-dark: #646b7a;
    --light-darkH: #808590 ;
    --light-darkL: #4C515E ;

    
    --black: #000000;
    --white: #f5f5f5;

    --gap: 5em;
    --line: 1px;
    --color: rgba(0, 0, 0, 0.2);
  
    --background_pattern00: linear-gradient(
        -90deg,
        transparent calc(var(--gap) - var(--line)),
        var(--color) calc(var(--gap) - var(--line) + 1px),
        var(--color) var(--gap)
      ),
      linear-gradient(
        0deg,
        transparent calc(var(--gap) - var(--line)),
        var(--color) calc(var(--gap) - var(--line) + 1px),
        var(--color) var(--gap)
      );
    --background-size: var(--gap) var(--gap);
  

    --background_pattern01: radial-gradient(
        
    rgba(255, 255, 255, 0.25) 1px, transparent 0) -20px -20px / 40px 40px;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
    line-height: 1.4;
}

a{
    position: relative;
    color: black;
    text-decoration: none;
    cursor: pointer;
    user-select: none;
}
/* buttons effects */
.btns::after{
    content: "";
    position: absolute;
    top: -1px;
    left: 50%;
    translate: -50% 0;
    width: 0%;
    height: 100%;
    user-select: none;

    mask: linear-gradient(-20deg,transparent,white 10%,white 90%,transparent);
    border-top: 1px solid var(--pcolor);
    border-bottom: 1px solid var(--pcolor);
    transition: .3s ease;
}
.btns::before{
    content: "";
    position: absolute;
    top: 50%;
    left: -1px;
    translate: 0 -50%;
    width: 100%;
    height: 0%;
    user-select: none;
    
    mask: linear-gradient(45deg,white 10%,white 90%,transparent);
    border-left: 1px solid var(--pcolor);
    border-right: 1px solid var(--pcolor);
    transition: .3s linear;
}

.btns:hover{
    box-shadow: 0px 0px 25px 10px rgba(0, 0, 0, 0.25);
}
.btns:hover::after{
    width: 130%;
}
.btns:hover::before{
    height: 160%;
}

p{
    color: var(--light-dark);
}

/* custome scroller */
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    background-color: var(--dark);
    border-left: 1px solid var(--pcolor);
}
::-webkit-scrollbar-thumb{
 background-color: rgba(90, 90, 90, 0.5);
}
::-webkit-scrollbar-thumb:hover{
    background-color: rgba(90, 90, 90, 1);
}

body{
    background: var(--background_pattern00);
    background-size: var(--background-size);
    background-color: var(--pcolor);
    width: 100%;
    height: 100%;
}

/* header section------------------------------------------------------------------------------ */
#head{
    position: relative;
    height: 100dvh;
    background-color: transparent;
}
#header{
    display: flex;
    position: sticky;
    z-index: 1;
    top: 0;
    width: 100%;
    padding-right: 10px;
    align-items: center;
    justify-content: space-between;
    border: solid 1px black;
}
#logo{
    background: var(--dark);
    color: var(--pcolor);
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 23px;
    padding: 15px 45px;
    animation: logo .5s ease-in-out forwards;
    /* animation-timeline: view();
    animation-range-start: 0vw; */
}
@keyframes logo {
    from{
        transform: translateX(-150px);
    }
}

#header #hamburger{
    display: none;
    position: relative;
    height: 40px;
    width: 40px;
    box-sizing: content-box;
}
#header input{
    display: none;
}
#hamburger span{
    display: block;
    position: absolute;
    background: black;
    width: 100%;
    height: 20%;
    border: 1px solid black;
    transition: transform .4s ease;
}
#hamburger span:nth-child(2){
    background: none;
    top: 16px;
}
#hamburger span:last-child{
    top: 32px;
}
#hamcheck:checked + #hamburger span:first-child{
    transform: translateY(16px) rotateZ(45deg);
}
#hamcheck:checked + #hamburger span:last-child{
    transform: translateY(-16px) rotateZ(-45deg);
}
#hamcheck:checked + #hamburger span:nth-child(2){
    transform: scale(0);
}

#header menu{
    display: flex;
    flex: 1;
    justify-content: center;
    gap: 25px;
}
#header menu a{
    background: none;
    border: none;
    cursor: pointer;
    overflow: hidden;
    animation: header .4s ease forwards;
    /* animation-timeline: view();
    animation-range-start: cover; */
}
#header menu a::before{
    content: attr(text);
    /* color: transparent; */
    /* border-top: 1px solid black; */
    background: var(--pcolor);
    position: absolute;
    bottom: -101%;
    opacity: 0;
}
#header menu a:hover::before{
    transition: .3s;
    opacity: 1; 
    bottom: 0%;
}
@keyframes header {
    from{
        transform: translateY(-25px);
        opacity: 0;
    }
}


/* hero section------------------------------------------------------------------------------ */
#hero{
    position: fixed;
    z-index: 0;
    top: 0;
    height: 100svh;
    width: 100%;
    padding: 70px 5% 2% 5%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    row-gap: 25px;
}
#hero #hero-content{
    /* border: solid 1px black; */
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 15px;
}
#hero #img{
    /* border: solid 1px black; */
    position: relative;
    width: 50%;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    background-image: url(assets/vid/outer\ hero.gif);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50px;
    filter: drop-shadow(5px 5px 5px #00000080);
    transform: translateX(0px);
    animation: outerhero 1s cubic-bezier(.44,-0.47,.51,1.47);
}
@keyframes outerhero {
    from{
        transform: translateX(50%);
    }
}
#hero #img::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 50px;
    top: 0;
    background-image: url(assets/vid/inner\ hero.gif);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 2;
    animation: innerhero 1s cubic-bezier(.44,-0.47,.51,1.47);
}
@keyframes innerhero {
    from{
        transform: translateX(30%);
    }
}

#hero-content h1{
    color: var(--dark);
    text-transform: capitalize;
    font-size: clamp(1rem, 8vw, 10rem);
    line-height: 1;
}
#hero-content #btns{
    display: flex;
    align-items: center;
    justify-content: end;
    width: 100%;
    gap: 25px;
    padding-top: 5px;
}
#hero-content #btns .btns::after{
    border-color: var(--black);
}
#hero-content #btns .btns::before{
    border-color: var(--black);
}
#hero-content #btns a{
    padding: 10px 25px;
    /* background-color: var(--pcolor); */
    cursor: pointer;
}
#btns a:nth-child(1){
    border: none;
    background-color: black;
    color: var(--pcolor);
}
#btns a:nth-child(2){
    border: solid 1px var(--light-dark);
    background: none;
    font-size: 16px;
}



#scrollover{
    background: var(--background_pattern01);
    display: flex;
    flex-direction: column;
    gap: 5rem;
    position: relative;
    z-index: 1;
    background-color: var(--dark);
    color: var(--pcolor);

    /* border: 1px solid var(--pcolor); */
    /* margin-top: 100vh; */
    /* mask: linear-gradient(transparent,white 100px); */
}


/* aboutUs section------------------------------------------------------------------------------ */
#scrollover #abtus{
    /* border: 1px solid var(--pcolor); */
    margin-top: 1rem;
    padding-block: 10%;
    display: flex;
    gap: 2rem;
    flex-direction: column;
    justify-content: space-around;
}
#abtus #testemonials ul{
    /* border: 1px solid var(--pcolor); */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
    padding-bottom: 4%;
}
#testemonials img{
    width: clamp(1rem,25vw,10rem);
}
#abtus #abtus-content{
    padding: 5%;
    padding-bottom: 1%;
    display: flex;
    justify-content: center;
}
#abtus #abtus-content p{
    position: relative;
    text-indent: 30px;
    padding: 3%;
    padding-top: 8%;
    max-width: 800px;
    height: fit-content;
    border: 1px solid var(--pcolor);
    animation: slidedetail linear;
    animation-timeline: view();
    animation-range-start: 0vh;
    animation-range-end: 80vh;
}
@keyframes slidedetail {
    from{
        /* transform: translateY(-10vw); */
        opacity: 25%;
    }
}
#abtus p::before{
    content: "about us";
    position: absolute;
    top: -6vw;
    right: 0;
    font-size: 10vw;
    font-weight: bold;
    line-height: 1;
    background-color: var(--dark);
    color: var(--pcolor);
    margin: 0 15px;
    padding: 0 10px;
    animation: slideTitle linear;
    animation-timeline: view();
    animation-range-start: 0vh;
    animation-range-end: 70vh;
}
@keyframes slideTitle {
    from{
        transform: translateX(-30vw);
        /* opacity: 25%; */
    }
}

#abtus #char{
    padding-block: 1rem;
    border-top: solid 1px var(--pcolor);
    border-bottom: solid 1px var(--pcolor);
    width: 100%;
    overflow: hidden;
    mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}
#char ul{
    display: flex;
    gap: 5rem;
    list-style: none;
    width: max-content;
    animation: loopLable 15s linear infinite;
}
@keyframes loopLable {
    to{
        transform: translate(calc(-50% - 2.5rem));
    }
}
#char li{
    color: var(--light-dark);
    font-size: clamp(1rem, 5vw, 8rem);
    font-weight: bolder;
    text-transform: uppercase;
}

/* servises section------------------------------------------------------------------------------ */
#services{
    /* border: 1px solid var(--pcolor); */
    background: var(--background_pattern00);
    background-size: var(--background-size);
    height: fit-content;
    padding-block: 8%;
    padding-inline: 8%;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    background-color: var(--pcolor);
    box-shadow: inset 0px 20px 25px -20px var(--dark),
                inset 0px -20px 25px -20px var(--dark);
    
    
}
#services #service-title{
    font-size: clamp(2rem,5vw,5rem);
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: var(--pcolor);
    padding-block: .5rem;
    display: flex;
    justify-content: end;
}
#services #service-title::before{
    content: "";
    background-color: var(--light-dark);
    position: absolute;
    width: 100%;
    height: 1px;
    top: 50%;
}
#service-title h1{
    color: var(--dark);
    background-color: var(--pcolor);
    width: fit-content;
    padding-inline: 2%;
    animation: servicetitle linear;
    animation-timeline: view();
    animation-range-start: 30vh;
}
@keyframes servicetitle {
    to{
        transform: translateX(-60vw);
    }
}
#services #service-card{
    /* border: 1px solid var(--pcolor); */
    display: grid;
    grid-template-columns: 1fr 25vw;

    grid-template-areas: "title img"
                        "pera img"
                        "btns img";
    column-gap: 25px; 
}

#service-card #service-img{
    /* border: 1px solid var(--dark); */
    grid-area: img;
    align-self: center;
    height: 100%;
    margin: 1rem;
    filter: drop-shadow(5px 5px 5px #222222a1);
    background-image: var(--img);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transition: .5s;
}
/* #service-card #service-img:hover{
    border: 1px solid #e2e7e9bd;
    box-shadow: 10px 10px 30px #bac3c7bd,
               -10px -10px 30px #f0f0f0dc;
} */
#service-card h2{
    grid-area: title;
    color: var(--pcolor);
    border: 1px solid var(--dark);
    padding: 1% 2%;
    width: fit-content;
    /* background-clip: text; */
    background-image: linear-gradient(90deg, var(--light-dark),var(--light-dark));
    background-repeat: no-repeat;
    animation: scardtitle linear;
    animation-timeline: view();
    animation-range-end: 50vh;
}
@keyframes scardtitle {
    from{
        background-size: 0% 100%;
    }
    to{
        background-size: 100% 100%;
    }
}
#service-card #service-cont{
    grid-area: pera;
    border-top: 1px solid var(--dark);
    color: var(--dark);
    padding: 3%;
    padding-bottom: 1%;
    animation: cardslide linear;
    animation-timeline: view();
    animation-range-end: 40vh;
}
@keyframes cardslide {
    from{
        transform: translateX(-20vw);
        opacity: 0%;
    }
}
#service-cont li{
    margin-left: 10px;
}
#service-card #service-btns{
    grid-area: btns;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 1rem;
}
#service-card a{
    background: var(--dark);
    color: var(--pcolor);
    width: fit-content;
    height: fit-content;
    padding: 10px 25px;
}
#service-btns .btns::after{
    border-color: #000000;
}
#service-btns .btns::before{
    border-color: #000000;
}

/* works section------------------------------------------------------------------------------ */
#works{
    /* border: 1px solid var(--pcolor); */
    height: fit-content;
}
#works h1{
    /* border: 1px solid var(--pcolor); */
    position: relative;
    color: var(--light-dark);
    width: fit-content;
    padding-left: 5%;
    padding-right: 1%;
    font-size: clamp(1rem,10vw,4rem);
}
/* #works h1::before{
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 1px;
    top: 50%;
    translate: 0 -50%;
    background-color: var(--pcolor);
    
} */
#works #works-content{
    border-top: 1px solid var(--pcolor);
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 70vh;
}
#works-slider{
    border: 15px solid transparent;
    position: absolute;
    left: 10%;
    width: 70%;
    height: 100%;
    --offset: 0.7;
    --card-width: 150;
}
#works-slider #work-card{
    background: var(--img);
    background-position: top center;
    background-size: cover;
    filter: grayscale(100%) brightness(75%);
}
#works-slider #work-card{
    border: 1px solid var(--pcolor);
    box-shadow: 6px 6px 12px #00000075, -6px -6px 12px #33333345;
    border-radius: 1px;
    position: absolute;
    width: calc(var(--card-width) * 1px);
    height: 200px;
    top: 50%;
    translate: 0 -50%;

    display: flex;
    flex-direction: column;
    justify-content: end;
}
#works-slider #work-card:nth-child(1),
#works-slider #work-card:nth-child(2){
    width: 100%;
    height: 100%;
    left: 0px;
    filter: grayscale(25%) brightness(100%);
}

#work-card #about-work{
    position: absolute;
    padding: 1rem; 
    opacity: 0;
    backdrop-filter: blur(2px);
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#work-card h2{
    border: 1px solid var(--pcolor);
    /* background-color: gray; */
    color: var(--pcolor);
    width: fit-content;
    padding: .5rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 25px;
}
#work-card p{
    font-weight: 300;
    font-size: 14px;
    color: var(--white);
}

#work-card h2,
#work-card p{
    text-shadow:  0 5px 10px var(--black);
    transform: translateY(-100px);
    max-width: 500px;
    filter: blur(20px);
    opacity: 0;
}

#work-card:nth-child(1) #about-work h2,
#work-card:nth-child(1) #about-work,
#work-card:nth-child(1) #about-work p,
#work-card:nth-child(2) #about-work h2,
#work-card:nth-child(2) #about-work,
#work-card:nth-child(2) #about-work p{
    animation: work-about 0.5s linear 1s both;
}
@keyframes work-about {
    to{
        transform: translateY(0);
        filter: blur(0);
        opacity: 1;
    }
}

#works #work-btns{
    /* border: 1px solid var(--pcolor); */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1%;
    gap: 15px;
}
#work-btns a{
    border: 1px solid var(--pcolor);
    padding: 7px 25px;
    font-size: small;
    color: var(--pcolor);
}

/*#works{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: left;
    gap: 1rem;
    padding-block: 1rem;
}

 #works h1{
    border: 1px solid var(--pcolor);
    color: var(--light-dark);
    width: 100%;
    padding-inline: 5%;
    font-size: clamp(1rem,7vw,5rem);
}
#works #work-cards{
    display: flex;
    width: 100%;
    padding: 3% 5%;
    flex-direction: row;
    gap: 5%;
    scroll-behavior: auto;
    overflow-y: auto;
    overscroll-behavior-x: contain;
    scroll-snap-type: x mandatory;
    
}
#works #work-cards::-webkit-scrollbar-track{
    border: 1px solid var(--pcolor);
}
#work-card{
    scroll-snap-align: center;
    border: 1px solid var(--pcolorH);
    text-wrap: nowrap;
    padding: 3% 3%;
}
#work-card:hover{
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);;
}
#work-card #work-btns{
    display: flex;
    justify-content: end;
    padding-top: 1rem;
}
#work-btns a{
    background: var(--pcolor);
    width: fit-content;
    padding: 10px 25px;
} */

/* footer section------------------------------------------------------------------------------ */
#footer{
    border-top: 1px solid var(--pcolor);
    background-color: var(--dark);
    background-image: var(--background_pattern00);
    background-size: var(--background-size);
    display: flex;
    flex-direction: column;
    justify-content: end;
    animation: footerslide linear;
    animation-timeline: view();
    animation-range-start: 0px;
    animation-range-end: 180px;
}
@keyframes footerslide {
    from{
        transform: translateY(30vw);
    }
}
#footer #foot-content{
    padding: 5%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}
#foot-content #foot-links{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    justify-content: space-evenly;
    gap: 1rem;
    min-width: fit-content;
}
#foot-content h1{
    position: relative;
    font-size: clamp(.5rem,7vw,8rem);
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-text-stroke: 1px var(--pcolor);
    color: transparent;
    background-color: var(--dark);
}
#foot-content h1::after{
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    width: 100%;
    height: 1px;
    background-color: var(--pcolor);
    z-index: -1;
}

#foot-links #qlinks{
    display: flex;
    flex-direction: row;
    align-items: center;
    min-width: fit-content;
    gap: 5%;
    justify-content: center;
}
#qlinks a{
    color: var(--light-dark);
    position: relative;
    text-wrap: nowrap;
    transition: .3s ease;
}
#qlinks a:hover{
    color: var(--pcolor);
}
#qlinks a::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0px;
    height: 1px;
    background-color: var(--pcolor);
    transition: .3s ease;
}
#qlinks a:hover::after {
    width: 100%;
}
#foot-content #slinks{
    min-width: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: .6rem;
    font-size: 18px;
}
#slinks a{
    height: 40px;
    width: 40px;
    background-color: var(--light-dark);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s ease;
}
#slinks i{
    color: var(--dark);
    transition: .3s ease;
}      
#slinks a:hover{
    background-color: var(--pcolor);
}
#slinks a:hover i{
    transform: scale(1.3);
}

#footer #end-credit{
    border-top: 1px solid var(--pcolor);
    color: var(--light-dark);
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}

/* meadia query */
@media only screen and (max-aspect-ratio: 1/1) {
    #header menu{
        /* border: 1px solid var(--black); */
        background-color: var(--pcolor);
        position: fixed;
        left: 0px;
        top: -100%;
        width: 100%;
        height: calc(100dvh - 64px);
        flex-direction: column;
        align-items: end;
        padding-right: 15%;
        font-size: clamp(1rem, 10vw, 3rem);
        font-weight: 600;
        transition: top .5s ease;
    }
    #hamcheck:checked ~ menu{
        top: 64px;
    }
    #header menu a::before{
        -webkit-text-stroke: 1px var(--dark);
        color: transparent;
    }

    #header #hamburger{
        display: block;
    }



    #hero{
        flex-wrap: nowrap;
        flex-direction: column-reverse;
    }
    #hero #hero-content{
        width: 100%;
        flex-grow: 0;
    }
    #hero-content p{
        font-size: 14px;
    }
    #hero-content #btns{
        justify-content: center;
    }
    #hero #img{
        position: relative;
        width: 100%;
        flex-grow: 1;
        background-position: center;
    }
    #hero #img::after{
        left: 0;
    }
    #hero #img::before{
        content: "";
        position: absolute;
        z-index: 0;
        background-color: var(--black);
        width: 120%;
        height: 1px;
        top: 55%;
        left: -10%;
        animation: hrline .7s ease;
    }
    @keyframes hrline {
        from{
            left: 50%;
            width: 0%;
        }
    }

    #works #works-content{
        height: 75vh;  
    }

    #works-content #works-slider{
        --offset: 0;
        --card-width: 100;
        left: 50%;
        translate: -50% 0;
        width: 90%;
        height: calc(75vh - 110px);
    }
    #works-slider #work-card{
        height: calc(var(--card-width) * 1px);
        top: calc(100% + 10px);
        translate: 0  0;
    }
    #works-slider #work-card:nth-child(1),
    #works-slider #work-card:nth-child(2){
        top: 0;
    }


    #services #service-card{
        /* border: 1px solid var(--pcolor); */
        display: grid;
        grid-template-columns: 1fr;
    
        grid-template-areas: "title"
                            "img"
                            "pera"
                            "btns";
        grid-auto-rows: min-content;
        column-gap: 50px; 
    }
    #service-card #service-img{
        height: 25vh;
    }
}
